<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lol.repository.BoardMapper">
    <select id="getBoardList" parameterType="com.lol.dto.board.SearchDto" resultType="com.lol.dto.board.BoardListAllInfoDto">
        SELECT X.ID, X.TITLE, X.CONTENT, X.WRITER, X.WRITETIME, X.VIEWCOUNT, X.LIKECOUNT, NVL(COUNT(Y.BOARDID), 0) COMMENTCOUNT
        FROM (SELECT A.ID, A.TITLE, A.CONTENT, A.WRITER, A.WRITETIME, A.VIEWCOUNT,
                     COUNT(CASE WHEN B.LIKEEXIST = 1 THEN 1 END) LIKECOUNT
              FROM BOARD A
                       LEFT JOIN BOARD_LIKE B ON A.ID = B.BOARDID
              GROUP BY A.ID, A.TITLE, A.CONTENT, A.WRITER, A.WRITETIME, A.VIEWCOUNT) X
                 LEFT JOIN BOARD_COMMENT Y ON X.ID = Y.BOARDID
        <where>
            <if test="keyword != null">
                AND ${sort} LIKE '%'||#{keyword}||'%'
            </if>
        </where>
        GROUP BY X.ID, X.TITLE, X.CONTENT, X.WRITER, X.WRITETIME, X.VIEWCOUNT, X.LIKECOUNT, Y.BOARDID
        ORDER BY ID DESC OFFSET #{startNumber} ROWS FETCH NEXT #{numberOfPage} ROWS ONLY
    </select>

    <insert id="postBoard" parameterType="com.lol.domain.Board">
        INSERT INTO BOARD(ID, TITLE, CONTENT, WRITER, WRITETIME, VIEWCOUNT)
        VALUES(BOARD_AUTOINC.NEXTVAL, #{title}, #{content}, #{writer}, #{writeTime}, #{viewCount})
    </insert>

    <select id="getMaxPage" resultType="int">
        SELECT COUNT(*) FROM BOARD

        <where>
            <if test="keyword != null">
                AND ${sort} LIKE '%'||#{keyword}||'%'
            </if>
        </where>
    </select>

    <select id="getBoard" parameterType="int" resultType="com.lol.domain.Board">
        SELECT * FROM BOARD WHERE ID= #{boardId}
    </select>

    <select id="getComments" parameterType="int" resultType="com.lol.domain.Board_Comment">
        SELECT * FROM BOARD_COMMENT WHERE BOARDID= #{boardId} ORDER BY WRITETIME DESC
    </select>

    <insert id="postComment" parameterType="com.lol.domain.Board_Comment">
        INSERT INTO BOARD_COMMENT(ID, BOARDID, CONTENT, USERNAME, WRITETIME)
        VALUES(BOARD_COMMENT_AUTOINC.NEXTVAL, #{boardId}, #{content}, #{username}, #{writeTime})
    </insert>

    <update id="incViewCount" parameterType="int">
        UPDATE BOARD SET VIEWCOUNT = VIEWCOUNT + 1 WHERE ID= #{boardId}
    </update>

    <select id="findByLike">
        SELECT LIKEEXIST FROM BOARD_LIKE WHERE BOARDID= #{boardId} AND USERNAME= #{username}
    </select>

    <insert id="postLike">
        INSERT INTO BOARD_LIKE(ID, BOARDID, USERNAME, LIKEEXIST)
        VALUES(BOARD_LIKE_AUTOINC.NEXTVAL, #{boardId}, #{username}, 1)
    </insert>

    <update id="updateLike">
        UPDATE BOARD_LIKE SET LIKEEXIST= #{likeAdjust} WHERE BOARDID= #{boardId} AND USERNAME= #{username}
    </update>

    <select id="getLike" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM BOARD_LIKE WHERE BOARDID= #{boardId} AND LIKEEXIST= 1
    </select>
</mapper>