<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lol.repository.BoardMapper">
    <select id="getBoardList" parameterType="com.lol.dto.board.SearchDto" resultType="com.lol.domain.Board">
        SELECT * FROM BOARD
    <where>
        <if test="keyword != null">
            AND ${sort} LIKE '%'||#{keyword}||'%'
        </if>
    </where>

        ORDER BY ID DESC OFFSET #{startNumber} ROWS FETCH NEXT #{numberOfPage} ROWS ONLY
    </select>

    <select id="postBoard" parameterType="com.lol.domain.Board">
        INSERT INTO BOARD(ID, TITLE, CONTENT, WRITER, WRITETIME, VIEWCOUNT, LIKECOUNT)
        VALUES(BOARD_AUTOINC.NEXTVAL, #{title}, #{content}, #{writer}, #{writeTime}, #{viewCount}, #{likeCount})
    </select>

    <select id="getMaxPage" resultType="int">
        SELECT COUNT(*) FROM BOARD

        <where>
            <if test="keyword != null">
                AND ${sort} LIKE '%'||#{keyword}||'%'
            </if>
        </where>
    </select>

    <select id="getBoard" parameterType="int" resultType="com.lol.domain.Board">
        SELECT * FROM BOARD WHERE ID= #{boardId}
    </select>

    <select id="getComments" parameterType="int" resultType="com.lol.domain.Board_Comment">
        SELECT * FROM BOARD_COMMENT WHERE BOARDID= #{boardId} ORDER BY WRITETIME DESC
    </select>

    <select id="postComment" parameterType="com.lol.domain.Board_Comment">
        INSERT INTO BOARD_COMMENT(ID, BOARDID, CONTENT, WRITER, WRITETIME)
        VALUES(BOARD_COMMENT_AUTOINC.NEXTVAL, #{boardId}, #{content}, #{writer}, #{writeTime})
    </select>
</mapper>