<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lol.repository.LoginMapper">

    <insert id="registerUser" parameterType="com.lol.dto.UserDto">
        INSERT INTO USERACCOUNT(ID, USERNAME, PASSWORD, ROLE)
        VALUES(USERACCOUNT_AUTOINC.NEXTVAL, #{username}, #{password}, #{role})
    </insert>

    <select id="findByUsername" resultType="com.lol.dto.UserDto" parameterType="string">
        SELECT * FROM USERACCOUNT WHERE USERNAME= #{username}
    </select>

</mapper>