<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lol.repository.LolMapper">

    <select id="getAllTierDtos" parameterType="com.lol.dto.main.ReceiveDto" resultType="com.lol.dto.main.TierDto">
        SELECT * FROM ALL_TIER_TOTAL
        WHERE PICKCOUNT >= 10

        <if test="championName1 != null">
            AND TOPNAME= #{championName1}
        </if>
        <if test="championName2 != null">
            AND JUNGLENAME= #{championName2}
        </if>
        <if test="championName3 != null">
            AND MIDDLENAME= #{championName3}
        </if>
        <if test="championName4 != null">
            AND BOTTOMNAME= #{championName4}
        </if>
        <if test="championName5 != null">
            AND UTILITYNAME= #{championName5}
        </if>
        ORDER BY ${sort} DESC FETCH FIRST 15 ROWS ONLY
    </select>

    <select id="getEachTierDtos" parameterType="com.lol.dto.main.ReceiveDto" resultType="com.lol.dto.main.TierDto">
        SELECT * FROM EACH_TIER_TOTAL
        WHERE TIER= #{tier} AND PICKCOUNT >= 10

        <if test="championName1 != null">
            AND TOPNAME= #{championName1}
        </if>
        <if test="championName2 != null">
            AND JUNGLENAME= #{championName2}
        </if>
        <if test="championName3 != null">
            AND MIDDLENAME= #{championName3}
        </if>
        <if test="championName4 != null">
            AND BOTTOMNAME= #{championName4}
        </if>
        <if test="championName5 != null">
            AND UTILITYNAME= #{championName5}
        </if>
        ORDER BY ${sort} DESC FETCH FIRST 15 ROWS ONLY
    </select>

    <select id="getChampionNameDtos" parameterType="String" resultType="com.lol.domain.ChampionName">
        SELECT * FROM CHAMPIONNAME
        <where>
            <if test="input != ''">
                AND CHAMPIONKORNAME LIKE '%'||#{input}||'%'
            </if>
        </where>
        ORDER BY CHAMPIONKORNAME
    </select>

    <select id="getChampionKorName" parameterType="String" resultType="String">
        SELECT CHAMPIONKORNAME FROM CHAMPIONNAME WHERE CHAMPIONENGNAME= #{championName}
    </select>

    <select id="getDetailInfo" parameterType="int" resultType="com.lol.dto.main.TierDto">
        SELECT * FROM ALL_TIER_TOTAL WHERE COMSAVEID= #{comsaveId}
    </select>

    <select id="getDetailInfo_tier" resultType="com.lol.dto.main.TierDto">
        SELECT * FROM EACH_TIER_TOTAL WHERE COMSAVEID= #{comsaveId} AND TIER= #{tier}
    </select>

    <select id="getChampionNames" parameterType="int" resultType="com.lol.dto.detail.ChampionsDto">
        SELECT TOPNAME, JUNGLENAME, MIDDLENAME, BOTTOMNAME, UTILITYNAME FROM COMBINATION_INFO WHERE ID= #{comsaveId}
    </select>

    <insert id="saveComment" parameterType="com.lol.domain.Combination_Comment">
        INSERT INTO COMBINATION_COMMENT(ID, COMSAVEID, USERNAME, CONTENT, WRITETIME)
        VALUES(COMBINATION_COMMENT_AUTOINC.NEXTVAL, #{comsaveId}, #{username}, #{content}, #{writeTime})
    </insert>

    <select id="getComment" parameterType="int" resultType="com.lol.domain.Combination_Comment">
        SELECT * FROM COMBINATION_COMMENT WHERE COMSAVEID= #{comsaveId} ORDER BY ID DESC OFFSET #{showPage} ROWS FETCH NEXT #{numberOfPage} ROWS ONLY
    </select>

    <select id="getMaxPage" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM COMBINATION_COMMENT WHERE COMSAVEID= #{comsaveId}
    </select>

    <delete id="deleteComment" parameterType="int">
        DELETE FROM COMBINATION_COMMENT WHERE ID= #{commentId}
    </delete>
</mapper>