<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lol.repository.LolMapper">

    <select id="getAllTier" parameterType="com.lol.dto.ReceiveDto" resultType="com.lol.dto.AllTierDto">
        SELECT * FROM ALLTIER WHERE TIER= #{tier} ORDER BY ${sort} DESC FETCH FIRST 10 ROWS ONLY
    </select>

    <select id="getAllChampionName" resultType="com.lol.dto.ChampionNameDto">
        SELECT * FROM CHAMPIONNAME ORDER BY ${sort}
    </select>

    <select id="getChampionName" parameterType="com.lol.dto.FindChampionNameDto" resultType="com.lol.dto.ChampionNameDto">
        SELECT * FROM CHAMPIONNAME WHERE CHAMPIONKORNAME LIKE '%'||#{input}||'%' ORDER BY ${sort}
    </select>
</mapper>