.selectChampion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
    pointer-events: none;
    z-index: 1000;
}

.headerDiv {
    display: flex;
    position: relative;
    justify-content: center;
    min-width: 1050px;
    width: 100%;
}

.backImage {
    width: 100%;
    height: 300px;
}

.blackBar {
    position: absolute;
    top: 260px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #000000;
    opacity: 0.4;
}

.headerList {
    width: 1050px;
    height: 300px;
    display: flex;
    position: absolute;
    align-items: flex-end;
}

header a {
    text-decoration: none; /*밑줄 지우기*/
    color: #FFFFFF;
}



.tabBar {
    display: flex;
    margin-bottom: 5px;
}

header ul {
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-block: 0;
    padding-inline: 0;
    width: 450px;
    justify-content: space-around;
}

.loginDiv {
    display: flex;
    width: 600px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    justify-content: flex-end;
}