@font-face {
    font-family: "Nanum";
    src: url("../font/NanumSquareL.ttf") format("truetype");
}

@font-face {
    font-family: "NanumRound";
    src: url("../font/NanumSquareRoundR.ttf") format("truetype");
}

main {
    min-width: 1050px;
    height: 2050px;
    background-color: #F5F3F7;
}

.container {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.functionDiv {
    display: flex;
}


/* ---leftDiv 시작--- */
.leftDiv {
    height: 2000px;
}

.championDiv {
    border: 1px solid #BDBDBD;
    background-color: #E9E4ED;
}

.searchDiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.searchInput {
    height: 35px;
    width: 310px;
}

.championListContainer {
    display: flex;
    width: 330px;
    margin-top: 10px;
}

main ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    gap: 5px;
}

main li {
    width: 60px;
}

img {
    width: 50px;
    height: 50px;
}

.championColumnDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* ---leftDiv 끝--- */


/* ---middleDiv 시작--- */
.middleDiv {
    width: 30px;
}

/* ---middleDiv 끝--- */


/* ---rightDiv 시작--- */
.rightDiv {
    border: 1px solid #BDBDBD;
    background-color: #E9E4ED;
    height: 2000px;
}

.useSticky {
    top: 0;
    position: sticky;
}

.positionName {
    display: flex;
    background-color: #9A73B5;
}

.top {
    margin-left: 22px;
}

.jungle {
    margin-left: 45px;
}

.middle {
    margin-left: 30px;
}

.bottom {
    margin-left: 25px;
}

.utility {
    margin-left: 30px;
}

.comDiv {
    background-color: #9A73B5;
    display: flex;
}

.comImg {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-left: 10px;
    z-index: 1;
}

.comButtonDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 280px;
}

.comButton1 {
    height: 35px;
    font-size: 15px;
    font-family: 'NanumRound', serif;
    border-width: 5px;
    border-color: #E9E4ED;
    border-radius: 10px;
}

.comButton2 {
    height: 35px;
    font-size: 15px;
    font-family: 'NanumRound', serif;
    border-width: 5px;
    border-color: #E9E4ED;
    border-radius: 10px;
}

.listDiv {
    display: flex;
    background-color: #a786be;
    height: 40px;
    border-bottom: 2px solid #000000;
}

.choiceList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.tierP {
    width: 150px;
    height: 30px;

}

.sortP {
    width: 100px;
    height: 30px;

}

.definition {
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    width: 280px;
    align-items: center;
    font-weight: bold;
}

.resultCom {
    display: flex;
    margin-top: 20px;
    background-color: #FFFFFF;

}

.littleSpace {
    background-color: #E9E4ED;
    width: 15px;
}

.totalBox {
    display: flex;
}

.championComBox {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.definitionBox {
    display: flex;
    justify-content: space-around;
    width: 260px;
    align-items: center;
}

.winRate {
    color: #000000;
}

.pickCount {
    color: #000000;
}
/* ---rightDiv 끝--- */