<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lol.repository.LolMapper">
    <insert id="insertSummonerDto" parameterType="com.lol.dto.SummonerDto">
        INSERT INTO SUMMONERLIST(ID, TIER, SUMMONERID, SUMMONERNAME, STATUS)
        VALUES(SUMMONERLIST_AUTOINC.NEXTVAL, #{tier}, #{summonerId}, #{summonerName}, #{status})
    </insert>

    <select id="checkSummonerList" parameterType="int" resultType="com.lol.dto.SummonerDto">
        SELECT SUMMONERID, TIER, STATUS FROM SUMMONERLIST WHERE ID= #{id}
    </select>

    <select id="checkMatchId" parameterType="string" resultType="com.lol.dto.OriginalDto">
        SELECT MATCHID FROM ORIGINAL WHERE MATCHID= #{matchId} GROUP BY MATCHID
    </select>

    <update id="updateSummonerStatus" parameterType="com.lol.dto.SummonerDto">
        UPDATE SUMMONERLIST SET STATUS= #{status} WHERE ID= #{id}
    </update>

<!--    ALLTIER 삭제하고 생성하는 로직 시작-->
    <delete id="deleteAlltier">
        DROP TABLE ALLTIER
    </delete>

    <delete id="deleteAlltierSeq">
        DROP SEQUENCE ALLTIER_AUTOINC
    </delete>

    <update id="createAlltier">
        CREATE TABLE ALLTIER
        (
            ID NUMBER NOT NULL,
            COMSAVEID NUMBER NOT NULL,
            TIER VARCHAR2(15) NOT NULL,
            TOPNAME VARCHAR2(15) NOT NULL,
            JUNGLENAME VARCHAR2(15) NOT NULL,
            MIDDLENAME VARCHAR2(15) NOT NULL,
            BOTTOMNAME VARCHAR2(15) NOT NULL,
            UTILITYNAME VARCHAR2(15) NOT NULL,
            WINRATE NUMBER NOT NULL,
            PICKCOUNT NUMBER NOT NULL,
            CONSTRAINT CH_PK PRIMARY KEY(ID)
        )
    </update>

    <update id="createAlltierSeq">
        CREATE SEQUENCE ALLTIER_AUTOINC START WITH 1 INCREMENT BY 1 MAXVALUE 100000 NOCYCLE NOCACHE
    </update>
<!--    ALLTIER 삭제하고 생성하는 로직 끝-->

    <insert id="moveTier">
        INSERT INTO ALLTIER(ID, COMSAVEID, TIER, TOPNAME, JUNGLENAME, MIDDLENAME, BOTTOMNAME, UTILITYNAME, WINRATE, PICKCOUNT)
        SELECT ALLTIER_AUTOINC.NEXTVAL, COMSAVEID, TIER, TOPNAME, JUNGLENAME, MIDDLENAME, BOTTOMNAME, UTILITYNAME, WINRATE, PICKCOUNT
        FROM (SELECT COMSAVEID, TIER, TOPNAME, JUNGLENAME, MIDDLENAME, BOTTOMNAME, UTILITYNAME,
                     COUNT(CASE WHEN WIN = 'true' THEN '1' END) / COUNT(*) AS WINRATE,
                     COUNT(*) AS PICKCOUNT
              FROM ORIGINAL
              WHERE TIER= #{tierName}
              GROUP BY COMSAVEID, TIER, TOPNAME, JUNGLENAME, MIDDLENAME, BOTTOMNAME, UTILITYNAME)
    </insert>

    <select id="checkChampionId" parameterType="int">
        SELECT ID FROM CHAMPIONNAME WHERE ID= #{championId}
    </select>

    <insert id="insertChampionNameDto" parameterType="com.lol.dto.ChampionNameDto">
        INSERT INTO CHAMPIONNAME(ID, CHAMPIONENGNAME, CHAMPIONKORNAME)
        VALUES(#{id}, #{championEngName}, #{championKorName})
    </insert>

    <update id="resetSummonerStatus">
        UPDATE SUMMONERLIST SET STATUS= 'X'
    </update>

    <select id="checkCombination" resultType="com.lol.dto.CombinationDto">
        SELECT ID FROM COMSAVE WHERE TOPNAME= #{topName} AND JUNGLENAME= #{jungleName} AND MIDDLENAME= #{middleName} AND BOTTOMNAME= #{bottomName} AND UTILITYNAME= #{utilityName}
    </select>

    <insert id="insertCombinationDto" parameterType="com.lol.dto.CombinationDto">
        INSERT INTO COMSAVE(ID, TOPNAME, JUNGLENAME, MIDDLENAME, BOTTOMNAME, UTILITYNAME)
        VALUES(COMSAVE_AUTOINC.NEXTVAL, #{topName}, #{jungleName}, #{middleName}, #{bottomName}, #{utilityName})
    </insert>

    <insert id="insertOriginalDto" parameterType="com.lol.dto.OriginalDto">
        INSERT INTO ORIGINAL(ID, GAMETIME, INSERTTIME, TIER, MATCHID, TOPNAME, JUNGLENAME, MIDDLENAME, BOTTOMNAME, UTILITYNAME, COMSAVEID, TEAMID, WIN)
        VALUES(ORIGINAL_AUTOINC.NEXTVAL, #{gameTime}, #{insertTime}, #{tier}, #{matchId}, #{topName}, #{jungleName}, #{middleName}, #{bottomName}, #{utilityName}, #{comSaveId}, #{teamId}, #{win})
    </insert>

    <insert id="championNameDto" parameterType="com.lol.dto.ChampionNameDto">
        INSERT INTO CHAMPIONNAME(ID, CHAMPIONENGNAME, CHAMPIONKORNAME)
        VALUES(#{id}, #{ChampionEngName}, #{ChampionKorName})
    </insert>
</mapper>